$color-primary-700: #0f2c4c;
$color-primary-400: #2f62a3;
$color-primary-300: #4e88df;
$color-grey-700: #1c1c1c;
$color-grey-400: #4d4d4d;
$color-grey-300: #a2a2a3;
$color-grey-200: #e6e6e8;
$color-grey-100: #edf3f8;
