#services{
    background: url('../img/services.jpg') no-repeat center;
    background-size: cover;
    padding: 136px 0 95px;
    @include media-breakpoint-down(lg) {
        padding: 65px 0 45px;
    }
    .card{
        min-height: 287px;
        -webkit-transition: background 300ms;
        transition: background 300ms;
        h3{
            font-weight: 700;
            font-size: 22px;
            color: $color-grey-700;
            text-transform: uppercase;
            margin-top: 32px;
            margin-bottom: 40px;
            -webkit-transition: color 300ms;
            transition: color 300ms;
            span{
                color: $color-primary-400;
                -webkit-transition: color 300ms;
                transition: color 300ms;
            }
        }
        p{
            font-weight: 400;
            font-size: 14px;
            color: $color-grey-400; 
            -webkit-transition: color 300ms;
            transition: color 300ms;
        }
        &:hover{
            background-color: $color-primary-400;
            h3, 
            span,
            p{
                color: #ffffff;
            }
        }
    }
}

#consultancy{
    padding: 100px 0 120px;
    @include media-breakpoint-down(lg) {
        padding: 60px 0 60px;
    }
    h3{
        font-weight: 700;
        font-size: 22px;
        color: $color-grey-400;
    }
    p{
        height: 100px;
        font-weight: 400;
        font-size: 14px;
        color: $color-grey-300;
        padding-left: 10px;
        padding-right: 10px;
        @include media-breakpoint-down(sm) {
            height: auto;
            margin-bottom: 40px;
        }
    }
}
#team{
    padding: 90px 0 115px;
    .card{
        background-color: #f2f2f2;
        min-height: 332px;
        padding-top: 50px;
        @include media-breakpoint-down(lg) {
            background-color: #FFF;
            padding-left: 0;
        }
        .title{
            font-weight: 500;
            font-size: 32px;
            line-height: 30px;
            color: $color-grey-700;
            @include media-breakpoint-down(sm) {
                font-size: 28px;
            }
        }
        .subtitle{
            font-weight: 400;
            font-size: 17px;
            color: $color-grey-300;
            margin-bottom: 25px;
        }
        .txt{
            font-weight: 400;
            font-size: 17px;
            color: $color-grey-400;
            margin-bottom: 30px;
        }
        a{
            position: relative;
            font-size: 17px;
            color: $color-primary-300;
            padding-left: 40px;
        }
        svg{
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    img{
        border-radius: .3rem;
        @include media-breakpoint-down(lg) {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    #owl-team{
        .card{
            background-color: #FFF;
            padding-left: 0;
        }
        img{
            border-radius: .3rem;
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
}